<form class="form-horizontal" (ngSubmit)="onSub(frm)" #frm="ngForm">
    <fieldset>
        <div id="legend">
            <legend class="">Register Using template Driven</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input required type="text" id="username" name="username" placeholder="" class="input-xlarge" [(ngModel)]="prePop.usNm" #usNm="ngModel">
                <p *ngIf="!usNm.valid" class="help-block text-muted">Username can contain any letters or numbers, without spaces</p>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input [pattern]="emRg" required type="text" id="email" name="email" placeholder="" class="input-xlarge" [(ngModel)]="prePop.email" #eml="ngModel">
                <p  class="help-block text-muted">Please provide your E-mail</p>
                <p class="help-block text-muted">Enter valid E-mail</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input required type="password" id="password" name="password" placeholder="" class="input-xlarge" [(ngModel)]="prePop.pass" #pass="ngModel">
                <p *ngIf="!pass.valid" class="help-block text-muted">Password should be at least 4 characters</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label" for="password_confirm">Password (Confirm)</label>
            <div class="controls">
                <input type="password" id="password_confirm" name="password_confirm" placeholder=""
                    class="input-xlarge">
                <p class="help-block text-muted">Please confirm password</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <input [disabled]="!frm.valid" type="submit" class="btn btn-success" value="Okay">
            </div>
        </div>
    </fieldset>
</form>