<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <p class="alert alert-info">{{title}}</p>
      <p class="alert alert-warning">{{title.toUpperCase()}}</p>
      <p class="alert alert-warning">{{78*962}}</p>
      <input type="{{type}}" value="Okay">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input [type]="type" [value]="title">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p [style.border]="stl.border"> This codekul angular training</p>
      <p [class.mycls]="true">Okay great this is codekul</p>
      <p [class.alert]="true" [class.alert-info]="isInf" [attr.role]="'alert'"> Okay great this is codekul</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="button" class="btn btn-info" value="Okay" (click)="abcPqr()">

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input type="text" (keyup)="onKeyHit($event)">
    </div>
    <div class="col-md-6" [style.width]="'300px'" [style.background-color]="rnCl"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-cst-al [txt]="'we are the best in programming'" (alev)="onChangeAlertState($event)"></app-cst-al>
    </div>
  </div>
</div>